@media print {
    body {
        print-color-adjust: exact !important;
        -webkit-print-color-adjust: exact !important;
    }
}

* {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth; /*chỉnh thời gian scroll-to */
    -webkit-box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    font-size: 1.4rem;
    font-weight: 500;
    background: #fffaf5;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
:root {
    --header-top: 84px;
    --main-color: #000958;
    --primary-color: #ff5b2e;
    --while-color: #fff;
    --black-color: #000;
}
img {
    display: block;
}
a {
    text-decoration: none;
}
.block {
    display: block;
}
.none {
    display: none;
}
.heading {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
    font-family: "Sora";
    color: var(--main-color);
}
.decor {
    position: absolute;
}
.half {
    display: flex;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    line-height: 56px;
    min-width: 117px;
    color: #fff;
    font-weight: 500;
    font-size: 1.6rem;
    text-align: center;
    border-radius: 31px;
    background: #ff5b2e;
    transition: all 0.2s ease-in-out;
}
.btn:hover {
    opacity: 0.6;
    cursor: pointer;
}
.btn.btn--primary {
    color: var(--while-color);
    background-color: var(--primary-color);
}
.btn.btn--while {
    color: var(--primary-color);
    background-color: var(--white-color);
    border: 1px solid rgba(255, 91, 46, 0.6);
}
.btn .btn-none {
    background: none;
}

/* display flex  */
.display-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.dfc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.dfb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.two-line-paragraph {
    display: block;
    overflow: hidden;
    display: -webkit-box;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* color  */
.white-color {
    color: #fff;
}
.black-text {
    color: #000;
}
.text-color {
    color: #333;
}
.gray-color {
    color: #999;
}
.primary-color {
    color: var(--primary-color);
}
/* background  */
.background-white {
    background-color: #fff;
}
.background-primary {
    background-color: var(--primary-color);
}
/* cursor */
.cursor__text {
    cursor: text;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.cursor__pointer {
    cursor: pointer;
}
/* ----------------- */
.text-align__center {
    text-align: center;
}
/* ----------------- */
.width_100 {
    width: 100%;
}
/* ----------------- */
.fw-700 {
    font-weight: 700;
}
/* ----------------- */
.relative {
    position: relative;
}
/*--------- phan thuc hanh chung ----------*/
.triangle::after {
    content: "";
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 11px 14px;
    border-color: transparent transparent var(--white-color) transparent;
}
.triangle::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 10%;
    width: 80%;
}

.border-out {
    border-radius: 2px;
    border: 1px solid var(--border-color);
    background-color: var(--white-color);
    -webkit-box-shadow: 0 1px 4px 0 rgb(0 0 0 / 26%);
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 26%);
}

.cut-paragraph-line {
    overflow: hidden;
    white-space: nowrap;
}
.two-cut-paragraph-line {
    display: block;
    overflow: hidden;
    display: -webkit-box;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.modal {
    position: fixed;
    inset: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    z-index: 1;
    overflow: hidden;
    border-radius: 3px;
    background-color: var(--white-color);
    -webkit-animation: growth linear 0.2s;
    animation: growth linear 0.2s;
}

/* padding  */
.pt-4 {
    padding-top: 0.4rem;
}
.pr-4 {
    padding-right: 0.4rem;
}
.pb-4 {
    padding-left: 0.4rem;
}
.pl-4 {
    padding-bottom: 0.4rem;
}
.pt-8 {
    padding-top: 0.8rem;
}
.pr-8 {
    padding-right: 0.8rem;
}
.pb-8 {
    padding-left: 0.8rem;
}
.pl-8 {
    padding-bottom: 0.8rem;
}
.pt-16 {
    padding-top: 0.1rem;
}
.pr-16 {
    padding-right: 0.1rem;
}
.pb-16 {
    padding-left: 0.1rem;
}
.pl-16 {
    padding-bottom: 0.1rem;
}
.pt-20 {
    padding-top: 0.2rem;
}
.pr-20 {
    padding-right: 0.2rem;
}
.pb-20 {
    padding-left: 0.2rem;
}
.pl-20 {
    padding-bottom: 0.2rem;
}
.pt-24 {
    padding-top: 0.2rem;
}
.pr-24 {
    padding-right: 0.2rem;
}
.pb-24 {
    padding-left: 0.2rem;
}
.pl-24 {
    padding-bottom: 0.2rem;
}
/* margin */
.m-0 {
    margin: 0rem;
}
.mt-0 {
    margin-top: 0rem;
}
.mr-0 {
    margin-right: 0rem;
}
.ml-0 {
    margin-left: 0rem;
}
.mb-0 {
    margin-bottom: 0rem;
}
.mt-1 {
    margin-top: 0.1rem;
}
.mr-1 {
    margin-right: 0.1rem;
}
.ml-1 {
    margin-left: 0.1rem;
}
.mb-1 {
    margin-bottom: 0.1rem;
}
.mt-2 {
    margin-top: 0.2rem;
}
.mr-2 {
    margin-right: 0.2rem;
}
.ml-2 {
    margin-left: 0.2rem;
}
.mb-2 {
    margin-bottom: 0.2rem;
}
.mt-3 {
    margin-top: 0.3rem;
}
.mr-3 {
    margin-right: 0.3rem;
}
.ml-3 {
    margin-left: 0.3rem;
}
.mb-3 {
    margin-bottom: 0.3rem;
}
.mt-4 {
    margin-top: 0.4rem;
}
.mr-4 {
    margin-right: 0.4rem;
}
.ml-4 {
    margin-left: 0.4rem;
}
.mb-4 {
    margin-bottom: 0.4rem;
}
.mt-6 {
    margin-top: 0.6rem;
}
.mr-6 {
    margin-right: 0.6rem;
}
.ml-6 {
    margin-left: 0.6rem;
}
.mb-6 {
    margin-bottom: 0.6rem;
}
.mt-8 {
    margin-top: 0.8rem;
}
.mr-8 {
    margin-right: 0.8rem;
}
.ml-8 {
    margin-left: 0.8rem;
}
.mb-8 {
    margin-bottom: 0.8rem;
}
.mt-10 {
    margin-top: 1rem;
}
.mr-10 {
    margin-right: 1rem;
}
.ml-10 {
    margin-left: 1rem;
}
.mb-10 {
    margin-bottom: 1rem;
}
.mt-12 {
    margin-top: 1.2rem;
}
.mr-12 {
    margin-right: 1.2rem;
}
.ml-12 {
    margin-left: 1.2rem;
}
.mb-12 {
    margin-bottom: 1.2rem;
}
.mt-14 {
    margin-top: 1.4rem;
}
.mr-14 {
    margin-right: 1.4rem;
}
.ml-14 {
    margin-left: 1.4rem;
}
.mb-14 {
    margin-bottom: 1.4rem;
}
.mt-16 {
    margin-top: 1.6rem;
}
.mr-16 {
    margin-right: 1.6rem;
}
.ml-16 {
    margin-left: 1.6rem;
}
.mb-16 {
    margin-bottom: 1.6rem;
}
.mt-18 {
    margin-top: 1.8rem;
}
.mr-18 {
    margin-right: 1.8rem;
}
.ml-18 {
    margin-left: 1.8rem;
}
.mb-18 {
    margin-bottom: 1.8rem;
}
.mt-20 {
    margin-top: 2rem;
}
.mr-20 {
    margin-right: 2rem;
}
.ml-20 {
    margin-left: 2rem;
}
.mb-20 {
    margin-bottom: 2rem;
}
.mt-24 {
    margin-top: 2.4rem;
}
.mr-24 {
    margin-right: 2.4rem;
}
.ml-24 {
    margin-left: 2.4rem;
}
.mb-24 {
    margin-bottom: 2.4rem;
}
.mt-24 {
    margin-top: 2.8rem;
}
.mr-28 {
    margin-right: 2.8rem;
}
.ml-28 {
    margin-left: 2.8rem;
}
.mb-28 {
    margin-bottom: 2.8rem;
}
.mt-30 {
    margin-top: 3rem;
}
.mr-30 {
    margin-right: 3rem;
}
.ml-30 {
    margin-left: 3rem;
}
.mb-30 {
    margin-bottom: 3rem;
}
.mt-32 {
    margin-top: 3.2rem;
}
.mr-32 {
    margin-right: 3.2rem;
}
.ml-32 {
    margin-left: 3.2rem;
}
.mb-32 {
    margin-bottom: 3.2rem;
}
